Temp/Simulation/Config1/4PPC70_0573_20B/ADDONS/DATA/IAT_Data/wwwRoot/BRVisu/widgets/brease/ProgressBar/meta/ProgressBar_Styles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.br-automation.com/iat2015/styles/engineering/v1" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:sd="http://www.br-automation.com/iat2015/styles/engineering/v1" 
	xmlns:wt="http://www.br-automation.com/iat2015/widgetTypes/v2" 
	elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.ProgressBar">
		<xs:complexContent>
			<xs:extension base="sd:stylesBase">
				<xs:attribute name="opacity" use="optional" type="wt:Opacity"></xs:attribute>
				<xs:attribute name="padding" use="optional" type="wt:Padding"></xs:attribute>
				<xs:attribute name="margin" use="optional" type="wt:Margin"></xs:attribute>
				<xs:attribute name="shadow" use="optional" type="wt:Shadow"></xs:attribute>
				<xs:attribute name="barBorderStyle" use="optional" type="wt:BorderStyle"></xs:attribute>
				<xs:attribute name="barBorderWidth" use="optional" type="wt:PixelValCollection"></xs:attribute>
				<xs:attribute name="barBorderColor" use="optional" type="wt:Color"></xs:attribute>
				<xs:attribute name="barCornerRadius" use="optional" type="wt:PixelValCollection"></xs:attribute>
				<xs:attribute name="barBackColor" use="optional" type="wt:Color"></xs:attribute>
				<xs:attribute name="barBackGroundGradient" use="optional" type="wt:Gradient"></xs:attribute>
				<xs:attribute name="barColor" use="optional" type="wt:Color"></xs:attribute>
				<xs:attribute name="barGradient" use="optional" type="wt:Gradient"></xs:attribute>
				<xs:attribute name="borderStyle" use="optional" type="wt:BorderStyle"></xs:attribute>
				<xs:attribute name="borderWidth" use="optional" type="wt:PixelValCollection"></xs:attribute>
				<xs:attribute name="borderColor" use="optional" type="wt:Color"></xs:attribute>
				<xs:attribute name="cornerRadius" use="optional" type="wt:PixelValCollection"></xs:attribute>
				<xs:attribute name="backColor" use="optional" type="wt:Color"></xs:attribute>
				<xs:attribute name="fontName" use="optional" type="wt:FontName"></xs:attribute>
				<xs:attribute name="fontSize" use="optional" type="wt:PixelVal"></xs:attribute>
				<xs:attribute name="fontColor" use="optional" type="wt:Color"></xs:attribute>
				<xs:attribute name="bold" use="optional" type="wt:Boolean"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>